/Advent-of-Code-2021/.vs

/Advent-of-Code-2021/day-1/obj/*
/Advent-of-Code-2021/day-1/bin/*
/Advent-of-Code-2021/day-2/obj/*
/Advent-of-Code-2021/day-2/bin/*
/Advent-of-Code-2021/day-3/obj/*
/Advent-of-Code-2021/day-3/bin/*
/Advent-of-Code-2021/day-4/obj/*
/Advent-of-Code-2021/day-4/bin/*
/Advent-of-Code-2021/day-5/obj/*
/Advent-of-Code-2021/day-5/bin/*
/Advent-of-Code-2021/day-6/obj/*
/Advent-of-Code-2021/day-6/bin/*
/Advent-of-Code-2021/day-7/obj/*
/Advent-of-Code-2021/day-7/bin/*
/Advent-of-Code-2021/day-8/obj/*
/Advent-of-Code-2021/day-8/bin/*
/Advent-of-Code-2021/day-9/obj/*
/Advent-of-Code-2021/day-9/bin/*
